.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
border-style:ridge;
border-width:10px;
background-color:lightblue;
border-color: blueviolet;    
}

